Client_trivia Aluma Gelbard/Client_trivia Aluma Gelbard/Service References/RemoteDatabaseService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/triviaService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/triviaService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Score">
    <xs:sequence>
      <xs:element minOccurs="0" name="fastest_time" type="xs:float" />
      <xs:element minOccurs="0" name="highest_score" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="late_score" type="xs:int" />
      <xs:element minOccurs="0" name="longest_strike" type="xs:int" />
      <xs:element minOccurs="0" name="score" type="xs:int" />
      <xs:element minOccurs="0" name="user_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Score" nillable="true" type="tns:Score" />
  <xs:complexType name="ArrayOfScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Score" nillable="true" type="tns:Score" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScore" nillable="true" type="tns:ArrayOfScore" />
</xs:schema>